@use "../../assets/styles/variables.scss" as variable;

.toggle-button {
    display: flex;
    border-radius: 50px;
    background-color: variable.$btn-color;
    width: 15vw;
    height: 4vh;
    overflow: hidden;

    .toggle-link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: variable.$text-color;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
            background-color: variable.$btn-color-hover;
        }
    }
}

@media (max-width: 600px) {
    .toggle-button {
        width: 45vw;
        height: 5vh;
    }
}

