@use "./assets/styles/variables.scss" as variable;

body {
    background: variable.$bg-color;
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}
