$bg-color: linear-gradient(0deg,rgba(12, 17, 29, 1) 0%, rgba(80, 11, 36, 1) 100%);
$bg-color-dark: #0C111D;
$bg-color-card: #161B26;

$border-color: #1F242F;

$btn-color: #4F0C24;
$btn-color-hover: #300816;
$btn-color-danger: #3D0D22;
$text-color: #FFFFFF;
$secondary-text-color: #AAAAAA;

$error-color: #FF4C4C;